.loader {
    display: absolute;
    /* justify-content: center;
    align-items: center; */
}
.loader .loading {
    justify-items: center;
    margin-top: 12rem;
}

.spinner {
    width: 10em;
    height: 10em;
    border-top: 1em solid #03bedf;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 2s linear infinite;
}

.circle {
    width: 1em;
    height: 1em;
    background-color: #03bedf;
    border-radius: 50%;
    margin-left: 7.8em;
    margin-top: 0.5em;
}

@keyframes textLoad {
    50%{ opacity: 0.1; }
}

@keyframes spinner {
    100% { transform: rotate(360deg); }

}